[submodule ".vim/bundle/vim-stylus"]
	path = .vim/bundle/vim-stylus
	url = git://github.com/wavded/vim-stylus.git
[submodule ".vim/bundle/vim-javascript-syntax"]
	path = .vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
