[user]
	name = Paul Sweeney
	email = paul@8-bitdesign.com

[color]
	pager = true
	ui = true
	status = auto
	branch = auto

[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	lg = log
	pom = push origin master
	cp = cherry-pick

	# git current :: returns current branchname 
	current = !git branch 2> /dev/null | grep '\\*' | sed -e 's/\\* \\(.*\\)/ (\\1)/'

	# git glog [searchstring] [branch] :: Searches [branch] for commits matching [searchstring]
	# =========================================================================================
	# "!sh -c"                                           :: invokes shell
	# 'git log --pretty=oneline --reverse $2 | grep $1'  :: passes our string as a shell command
	# grep $1' -                                         :: tells shell to use $1 instead of $0    
	glog = !sh -c 'git log --pretty=oneline --reverse $2 | grep $1' -


[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[core] 
	editor = vim
	excludesfile = ~/.gitignore
	autocrlf = input
