[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = git@github.com:ycm-core/YouCompleteMe.git
[submodule ".vim/bundle/editorconfig-vim"]
	path = .vim/bundle/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/bundle/vim-polyglot"]
	path = .vim/bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
