# Notes: "\e" translates to "^["
#        you can test this via Ctrl+V then your commend sequence

# OSX style delete button
"\e[3~": delete-char

# Option -> / <- for forward/back word
"\e\e[C":  forward-word
"\e\e[D":  backward-word
"\e[1;3C": forward-word
"\e[1;3D": backward-word

"\e[5~": history-search-backward
"\e[6~": history-search-forward


# VIM-style ^W -- http://shallowsky.com/blog/linux/bash-word-erase.html
set bind-tty-special-chars Off
"\C-w": backward-kill-word


## Better tab completion -- http://blog.sanctum.geek.nz/lazier-tab-completion/

# Single tab complete instead of double-tab complete
set show-all-if-ambiguous on

# Ignore case when tab completing
set completion-ignore-case on

# Treat underscores and dashes as the same character
# when tab-completing
set completion-map-case on
